body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #c1bbc2;
}

.inbox-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDEBAR */
.left-sidebar {
  width: 28%;
  font-family: 'Silkscreen', sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.logo {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  color:#4A00B2;
  font-family: 'Silkscreen', monospace;
  font-weight:lighter;
  font-size: 16px;
  text-align: left;
  padding-left: 4%;
  padding-bottom: 2px;
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  gap: 56%
}

.logo h2 {
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 2px;
}
.logo img{

  width: 44px;
  height: 44px;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.new-chat-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.chat-user {
  font-family: 'Inter', sans-serif;
  display: flex;
  text-decoration: none;
  align-items: center;
  background-color: #fdfcfcf0;
  padding-top:12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e;
  cursor: pointer;
  transition: background 400ms ease-in;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.chat-user:hover {
  background-color: #f5f5f5;
  border-radius: 190px;
}

.chat-user.selected {
  background-color: #f5f5f5;
  border-radius: 190px;
  border: 1px solid #e2e2e2;
}

.chat-user img {
  width: 52px;
  height: 52px;
  padding-right: 16px;
  border-radius: 20px;
}

.chat-user a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* RIGHT CHAT PANEL */
.right-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #dad1e9;
  background-size: cover;  
  background-image: url("/static/messenger/img/Frame.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

/* Chat Header */
.chat-header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 22px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  
}

.chat-header img {
  width: 56px;
  height: 56px;
  border-radius: 10%;
  margin-right: 15px;
}

.chat-header h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1e1e1e;
}

/* Messages */
.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 10%;
  
}

.sent, .received {
  max-width: 30%;
  padding: 4px 16px; /* add space for timestamp */
  border-radius: 24px;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
 
}

.sent {
  background: linear-gradient(to right, #4A00B2, #3300FF);;
  color: white;
  align-self: flex-end;
  text-align: right;
  border-bottom-right-radius: 0px;
}

.received {
  background-color: #484848;
  color: white;
  align-self: flex-start;
  text-align: left;
  border-top-left-radius: 0px;

}

.sent p{
  padding-right: 40px;
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;

}

.received p{
  padding-right: 40px;
  max-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
}

.sent small, .received small {
  position: absolute;
  bottom: 6px;
  right: 12px;
  font-size: 0.75rem;
  opacity: 0.8;
}

.sent small{
  align-self: flex-end;
}

.received small{
  align-self: flex-end;
  padding-left: 80px;
}

/* Chat Input Form */
.chat-form {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e0e0e0;
  border-top: 1px solid #ccc;
  margin: 10px;
  border-radius: 32px; 
}

.message-input{
  flex: 1;
  resize: none;
  border: none;
  padding: 12px;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  outline: none;
  margin-right: 10px;
  background-color: #e1e1e1e1;
  max-height: 200px;
  overflow-y: auto;

}

.chat-form button {
  background-color: #e1e1e1;
  border: none;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  border-radius: 20%;
  border-end-end-radius: 100%;
  border-top-right-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-end;
}

.chat-form button:hover {
  background-color: #c1bbc2;
}

/* Popup Overlay */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-overlay.show {
  display: flex;
}

/* Popup Box */
.popup-box {

  background: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.popup-box h3{
  font-family: 'Inter', sans-serif;
  padding-top: 4px;
}

.popup-box ul{
  font-family: 'Inter', sans-serif;
}
/* User List */
.user-list {
  list-style: none;
  padding: 0;
  padding-inline: 2px;
  max-height: 500px;
  overflow-y: auto;
}

/* Each User Item */
.user-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.user-item:hover {
  background-color: #f0f0f0;
  border-radius: 28px;
}

/* Avatar */
.user-item img {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.chat-messages {
  height: calc(100vh - 240px); /* adjust based on your header + footer */
  overflow-y: auto;
  padding: 10px 20px;
}

